.adi{
	padding-top: 30px;
}

.bhavi{
	background-color: #3b5998;
	font-family: inherit;

}

.rishu{
	font-size: 12px; 
	text-align: right; 
}

div div div h1{
	color: #fff;
}

.radius{
	border-radius: 20px;
}

div div div h6{
	color: #fff;
}